# Multiple Linear Regression predicting home price

In [2]:
import pandas as pd
from sklearn import linear_model

Equation to predict price
Dv(price)=IV(m1*area+m2*bedrooms+m3*age)+b where dv is dependent variables, Iv Independent Variable 
*m1,m2,m3 are cofficients
b are intercept.

In [3]:
df=pd.read_excel("homeprice.xlsx")

In [4]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
df.bedrooms.median()

4.0

In [9]:
import math
medain_bedroom=math.floor(df.bedrooms.median())
medain_bedroom

4

In [11]:
df.bedrooms=df.bedrooms.fillna(medain_bedroom)

In [12]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
lr=linear_model.LinearRegression()
lr.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
lr.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [23]:
lr.intercept_

221323.00186540425

In [27]:
y_pred=lr.predict([[3000,4,15]])
y_pred

array([602590.07937407])

In [28]:
a=112.06244194*3000+23388.8*4+-3231.71*15+221323.0
a

602589.87582

In [29]:
y_pred=lr.predict([[3500,2,15]])
y_pred

array([611843.54018926])